.cella{
    width: 2vw;
    height: 4vh;
}

.cellaSelezionata{
    width: 2vw;
    height: 4vh;
    background-color: lightblue;
    pointer-events: none;
}

.campoContainer{
    display: flex;
    flex-direction: row;
}


.blockTab {
    pointer-events: none;
    filter: opacity(0.5);
}


.tableContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5vw;
}

.naveColpita{
    background-color: green;
    width: 2vw;
    height: 4vh;
    pointer-events: none;
}

.naveMancata{
    background-color: rgb(146, 0, 0);
    width: 2vw;
    height: 4vh;
    pointer-events: none;
}

.colpoNemico{
    background-color: black;
    width: 2vw;
    height: 4vh;
    pointer-events: none;
}

.testoCampo{
    font-size: 1.2em;
    font-weight: bold;
}