.start-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/nave.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 100vw;
  }
  
  h1 {
    color: #000000;
    font-size: 5em;
    text-align: center;
    border: 5px solid black;
    /* background-image: linear-gradient(rgb(13, 0, 255), rgb(0, 255, 238)); */
    background-color: white;
  }
