body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgb(13, 0, 255), rgb(0, 255, 238));
}